* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    background-color: rgb(247, 251, 255);
    height: 50px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#checking {
    display: none;
}

.toggle {
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 0 10px;
    padding-bottom: 5px;
    font-weight: 700;
    color: black;
    transition: all .4s ease-in;
}

nav ul li a:hover {
    color: #3f9457;
}

nav ul li {
    position: relative;
}

nav ul ul {
    display: block;
    background-color: rgb(247, 251, 255);
    min-width: 200px;
    max-width: 250px;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: -9999px;
    /* transition: .3s ease; */
}

nav ul ul li {
    width: 100%;
    padding: 10px;
}

nav ul li:hover ul {
    left: 0;
}
#user-account a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 900;
    background-color: #e0f2e5;
    color: #3f9457;
    transition: background-color .5s ease-in-out;
}

#user-account a:nth-child(2) {
    background-color: #3f9457;
    color: white;
}

#user-account a:hover {
    background-color: #3f9457;
    color: white;
}

#user-account a:nth-child(2):hover {
    background-color: #246837;
}

.about-header-text {
    background-color: #fafdff;
    color: black;
    text-align: center;
    padding: 100px 0 50px;

    /* margin-bottom: 100px; */
}

.about-header-text h1 {
    margin-bottom: 30px;
}

.about-page-instractor {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about-page-instractor li {
    color: rgb(105, 102, 102);
}

.about-page-instractor li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .3s;
}

.about-page-instractor li a:hover {
    color: #61B576;
}

#service-main {
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-option {
    border-radius: 7px;
    padding: 50px 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}


.service-option i {
    background-color: #68f891;
    color: white;
    padding: 20px;
    font-size: 2rem;
    border-radius: 4px;
    /* margin-bottom: 20px; */
    transition: 0.7s ease;
}
.service-option i:hover{
    border: 1px solid #4e925f ;
    background-color: white;
    color: #68f891;
}
.service-option h3 {
    font-weight: 800;
    margin: 20px 0;
}

.service-option p {
    color: gray;
    font-size: 1.1em;
    margin: 20px 0 40px;
}

.service-option a {
    margin-bottom: 30px;
    text-decoration: none;
    background-color: #bee6ca;
    color: #4e925f;
    padding: 15px 25px;
    font-weight: 600;
    border-radius: 5px;
}
.service-option a:hover{
    border: 1px solid #4e925f ;
    background-color: white;
}

footer {
    background-color: #fbfbfb;
    padding: 40px;
}

#footer-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.footer-item h4 {
    color: #3f9457;
    margin: 20px 0;
}


.footer-some-link a {
    text-decoration: none;
    display: block;
    line-height: 35px;
    color: rgb(94, 89, 89);
    transition: .5s;
}

.footer-some-link a:hover {
    color: #31aa53;
    text-decoration: underline;
}

.footer-form {
    background-color: #f4f4f4;
    padding: 0 30px;
}

.footer-form h4 {
    margin: 20px 0;
    /* padding:0; */
}

.footer-form-subscribe {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #78d391;
    border-right: 0;
    border-radius: 5px;
    background-color: white;
}

.footer-form-subscribe input {
    padding: 8px 30px;
    border: 0;
    border-radius: 5px;

}

.footer-form-subscribe input:focus {
    outline: none;
}

.footer-form-subscribe i {
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #0c9132;
    color: white;
    padding: 15px;
    border-collapse: collapse;
    border-radius: 0 5px 5px 0;

}

.footer-form p {
    color: gray;
    font-size: 1rem;
    font-style: normal;
    font-weight: lighter;
}

.footer-company-connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-company-termsconditions a {
    text-decoration: none;
    padding: 0 10px;
    color: rgb(46, 42, 42);
    font-weight: lighter;
    transition: .5s;
}

.footer-company-termsconditions a:hover {
    color: #0c9132;
}

.footer-company-link-item a {
    color: black;
    text-decoration: none;
}

.footer-company-link-item a i {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid rgb(216, 212, 212);
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: white;
    transition: .3s;
}

.footer-company-link-item a:hover i {
    color: #6ae08b;
}